*.pyc
*.pyd
__pycache__/
env/
venv/
.idea/
.DS_Store
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
*.bak
*.tmp
*.swp
*.swo
*.vscode/
*.coverage
.coverage.*
htmlcov/
*.mo
*.pot
*.py[cod]
*$py.class
*.so
*.dylib
*.dll
*.log
*.csv
*.dat
*.json